
.navbar-logo{
    border-radius: 50%;
    width: 40px;
    height: 30px;
    background:white;
    font-size: 35px;
    color:darkslategray;
    padding: 5px 20px;
}

#summary h1{
    text-align: center;
    font-family: pacifico;
}

#summary img{
    align-items: center;
}

#summary_note{
    border: none;
}

#summary_pic{
    border:none;
}

#bg-img{
    background:url('../images/another_one.jpg');
    background-repeat:no-repeat;
    min-height:500px;
    background-size: cover;
}

#Education hr{
    margin-top: 12px;
}

#Skills hr{
    margin-top:12px;
}

#Experience hr{
    margin-top:12px;
}

#Experience li a:hover{
    background-color:blue;
}


