.navbar-logo{
    border-radius: 50%;
    width: 40px;
    height: 30px;
    background:white;
    font-size: 35px;
    color:darkslategray;
    padding: 5px 20px;
}

#summary{
    margin-top:100px;
}

#summary h1{
    text-align: center;
    font-family: pacifico;
    padding: 5px;
}

#summary_note{
    border: none;
}